#contact h1{
    margin-bottom: 3rem;
}

.container.contact_container{
    width: 50%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 12%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: linear-gradient(10deg,transparent,var(--color-primary-variant),transparent);
    padding: 1.2rem;border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border-color: #151515;
}

.contact_option_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#contact h5{
    margin-top: 3rem;
}
.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ==============form=========== */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
}
form input::placeholder{
    color: var(--color-light);
    text-size-adjust: 5rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
form textarea::placeholder{
    color: var(--color-light);
    text-size-adjust: 5rem;
    font-size: 20px;
    font-weight: 700;
  
}
/* =================medium============== */

@media screen and (max-width: 1024px) {
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ==========small============ */
@media screen and (max-width: 600px) {
    .container.contact_container{
       width: var(--container-width-sm);
    }
}